<div class="content"  style="margin-top: 5px;padding: 20px 20px 20px 20px;">
  <h4> สร้างแบบสอบถาม </h4>
  <hr>
  <!--=================================
  =           Start Form              =
  ==================================-->

  <%= form_for :question do |f| %>
  <% num = 0 %>
  <%= @title.each do |q| %>

  <div class="row col-12">
    <div class="col-11 mb-3">
      (<%= num+=1 %>) <%= f.label :'หัวข้อ/เรื่อง', class: 'font-weight-bold' %>
      <%= f.text_field :title, class: 'form-control',value: q.title %>
    </div>
  </div>
  <div class="quiz" id='quiz1'>
    <div class="row pl-5">
      <div class="col-10 mb-3">
        <%= f.label :' คำถาม ?', class: 'font-weight-bold text-muted' %>
         <%= f.text_field :question, class: 'form-control',value: 'asdf' %>
      </div>
      <div class="col-1">
        <label for="" >&nbsp;</label>
        <button type="button" class="form-control btn btn-primary addquestion" id="addQuestion0"><i class="fas fa-plus" aria-hidden='true'></i></button>
      </div>
    </div>

    <div id="ShowaddQuestion0" class="ShowaddQuestion">
    </div>
    <!-- /#showAddQuiz.showAddQuiz -->
    <hr>
  </div>
  <!-- /.quiz -->
  <% end %>

  <% end %>
  <!--==============================
  =            End Form            =
  ===============================-->


</div>
<script>

  $(function(){
    addQuestion();
    addSections();
    btn_deleteSections();
    btn_deleteQuestion();
    reset();
    print();
    editQuestion();
    searchScore();
  });

  function addQuestion(num = 0) {

    var row = $('#quiz_title'+(num+1)).length;
    $('#addQuestion'+num).click(function(){
      var html = '<div class="row pl-5 ques" id="ques'+(num+1)+'_'+(row+1)+'">';
      html += '<div class="col-10 mb-3">';
      html += '<label for="quiz_question"><b class="text-muted">('+(num+1)+'.'+(row+1)+') คำถาม ?</b></label>';
      html += '<input type="text" class="form-control quiz_question" id="quiz_question'+(num+1)+'_'+(row+1)+'" name="quiz_question'+(num+1)+'[]"  required autofocus="">';
      html += '<div class="invalid-feedback">';
      html += 'Please provide a valid city.';
      html += '</div>';
      html += '</div>';
      html += '<div class="col-1">';
      html += '<label for="">&nbsp;</label>';
      html += '<button type="button" class="form-control btn btn-danger deleteQuestion" id="deleteQuestion'+(num+1)+'_'+(row+1)+'"><i class="fa fa-trash" aria-hidden="true"></i></button>';
      html += '</div>';
      html += '</div>';
      $('#ShowaddQuestion'+num).append(html);
      deleteQuestion((num+1)+'_'+(row+1));

      row++;
    });
  }

  function deleteQuestion(num) {
    $('#deleteQuestion'+num).click(function(){
      var conf = confirm("ต้องการลบคำถาม !");
      if(conf == true){
        $('#ques'+num).remove();
      }else{
        return false;
      }
    });
  }

  function addSections() {
    var numSection1 = $('.sectionAdd').length+1;
    $('#addSections').click(function(){
      var numSection = $('.sectionAdd').length+1;

      html ='<div class="sectionAdd" id="sectionAdd'+(numSection+1)+'">';
      html += '<div class="row col-12">';
      html += '<input type="hidden" id="numberSec" name="numberSec[]" value="'+(numSection+1)+'">';
      html += '<div class="col-11 mb-3">';
      html += '<label for="quiz_title"><b>('+(numSection+1)+') หัวข้อ / เรื่อง</b></label>';
      html += '<input type="text" class="form-control quiz_title" id="quiz_title'+(numSection+1)+'" name="quiz_title'+(numSection+1)+'[]" required>';
      html += '</div>';
      html += '<div class="col-md-1">'
      html += '<label for="">&nbsp;</label>';
      html += '<button type="button" class="form-control btn btn-danger deleteSections" id="deleteSections'+(numSection+1)+'"><i class="fa fa-minus" aria-hidden="true"></i></button>';
      html += '</div>';
      html += '</div>';
      html += '<div class="quiz" id="quiz'+(numSection+1)+'">';
      html += '<div class="row pl-5">';
      html += '<div class="col-10 mb-3">';
      html += '<label for="quiz_question"><b class="text-muted">('+(numSection+1)+'.'+numSection1+') คำถาม ?</b></label>';
      html += '<input type="text" class="form-control" id="quiz_question'+(numSection+1)+'_'+numSection+'" placeholder=" " name="quiz_question'+(numSection+1)+'[]" required>';
      html += '<div class="invalid-feedback">';
      html += 'Please provide a valid city.';
      html += '</div>';
      html += '</div>';
      html += '<div class="col-1 ">';
      html += '<label for="" >&nbsp;</label>';
      html += '<button type="button" class="form-control btn btn-primary" id="addQuestion'+numSection+'"><i class="fa fa-plus" aria-hidden="true"></i></button>';
      html += '</div>';
      html += '</div>';
      html += '<div id="ShowaddQuestion'+(numSection)+'" class="ShowaddQuestion">';
      html += '</div>';
      html += '<!-- /#showAddQuiz.showAddQuiz -->';
      html += '<hr>';
      html += '</div>';
      html += '<!-- /.quiz -->';
      html += '</div>';
      html += '<!-- /.section -->';

      $('.showAddsection').append(html);
      numSection1;
      addQuestion(numSection);
      deleteSections(numSection+1);
    });
  }

  function deleteSections(num) {
    $('#deleteSections'+num).click(function(){
      var conf = confirm("ต้องการลบหัวข้อ !");
      if(conf == true){
        $('#sectionAdd'+num).remove();
      }else{
        return false;
      }
    });
  }

  function reset() {
    $('.reset').click(function(){
      location.reload('form');
    });
  }

  function print(){
    $('.print').click(function(){
      window.print();
    });
  }

  function btn_deleteSections() {
    $('.deleteSections').click(function(){
      var conf = confirm("ลบหัวข้อ คำถามจะถูกลบออกด้วย \r\n ต้องการลบหรือไม่ !");
      var btndeletesections = $(this).data('btndeletesections');
      if(conf == true){
        $.ajax({
          url: base_url+layout+'deleteQuiz',
          type: 'POST',
          dataType: 'JSON',
          data: {idtitle: $(this).data('idtitle')},
          success:function(rs) {
            $('#sectionAdd'+btndeletesections).remove();
          },
          error:function() {
            alert("#เกิดข้อผิดพลาด");
          }

        });
      }else{
        return false;
      }
    });
  }

  function btn_deleteQuestion() {

    $('.deleteQuestion').click(function() {
      var conf = confirm("ต้องการลบคำถาม !");
      var numQuestion = $(this).data('btndelete_question')
      if(conf == true){
        $.ajax({
          type: "POST",
          url: base_url+layout+'deleteQuestion',
          data: 'id_quiz='+$(this).data('idquiz'),
          dataType: 'json',
          success: function(rs){
            if(rs == true){
              $('#ques'+numQuestion).remove();
            }
          },
          error: function() {
            alert("#เกิดข้อผิดพลาด");
          }
        });
      }else{
        return false;
      }
    });
  }

  function editQuestion() {
    $('.editQuestion').click(function(){
      var dataValue =  $('#quiz_question'+$(this).data('btnedit_question')).val();
      var dataID = $(this).data('idquiz');
      $.ajax({
        url: base_url+layout+'saveEdit',
        type: 'POST',
        dataType: 'JSON',
        data: {quiz_id: dataID,quiz_question: dataValue},
        success:function(rs){
          messageAlert('อัพเดทข้อมูลเรียบร้อย');
        },
        error:function(){
          messageAlert('เกิดข้อผิดพลาด !!');
        }
      });

    });
  }

  function searchScore() {
    $('#searchScore').submit(function(){
      $.ajax({
        url: base_url+layout+'viewScore',
        type: 'POST',
        dataType: 'JSON',
        data: $(this).serialize(),
      });

    });
  }


</script>
