<%= form_for @question do |f| %>
  <div class="row col-12">
    <div class="col-11 mb-3">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>
  <%= f.submit %>
  <% end %>