<h1>จัดการแบบสอบถาม</h1>
<div class="card-deck text-center col-12 " >

	<div class="col-3 mt-4 mb-4">
		<div class="card w-100" >
			<div class="card-body">
				<%= icon('fas', 'list-ol fa-3x') %>
				<%= link_to "สร้างแบบประเมิน", new_question_path , class: 'card-title row justify-content-center h5', title: 'create requestion' %>
				<!-- <a href="<?php echo base_url('index.php/quiz/quiz_teacher'); ?>">
					<h5 class="card-title row justify-content-center"> สร้างแบบประเมินผู้สอน </h5>
				</a> -->
			</div>
		</div>
	</div>
	<!-- /.card col-3 -->

	<div class="col-3 mt-4 mb-4">
		<div class="card w-100" >
			<div class="card-body">
				<%= icon('far', 'edit fa-3x') %>
				<%= link_to "แก้ไขแบบประเมิน",  show_questions_path , class: 'card-title row justify-content-center h5', title: 'edit question' %>
				<%#= link_to "แก้ไขแบบประเมิน", questions_path , class: 'card-title row justify-content-center h5', title: 'edit requestion' %>
				<!-- <a href="<?php echo base_url('index.php/quiz/quiz_teacher'); ?>">
					<h5 class="card-title row justify-content-center"> สร้างแบบประเมินผู้สอน </h5>
				</a> -->
			</div>
		</div>
	</div>
	<!-- /.card col-3 -->

	<div class="col-3 mt-4 mb-4">
		<div class="card w-100" >
			<div class="card-body">
				<%=  icon('far', "list-alt fa-3x" )  %>
				<%= link_to("ดูแบบประเมิน", viewQuestion_questions_path , class: 'card-title row justify-content-center h5', title: 'view requestion') %>
				<!-- <i class="fas fa-list-ol"></i>
				<a href="<?php echo base_url('index.php/quiz/quiz_teacher'); ?>">
					<h5 class="card-title row justify-content-center"> สร้างแบบประเมินผู้สอน </h5>
				</a> -->
			</div>
		</div>
	</div>
	<!-- /.card col-3 -->

	<div class="col-3 mt-4 mb-4">
		<div class="card w-100" >
			<div class="card-body">
				<%=  icon('fas', "star fa-3x" )  %>
				<%=  icon('fas', "star fa-3x" )  %>
				<%=  icon('fas', "star fa-3x" )  %>
				<%= link_to("ดูคะแนนประเมิน", viewScore_path , class: 'card-title row justify-content-center h5', title: 'assessment score') %>
				<!-- <i class="fas fa-list-ol"></i>
				<a href="<?php echo base_url('index.php/quiz/quiz_teacher'); ?>">
					<h5 class="card-title row justify-content-center"> สร้างแบบประเมินผู้สอน </h5>
				</a> -->
			</div>
		</div>
	</div>
	<!-- /.card col-3 -->

</div>
