<div class="content"  style="margin-top: 5px;padding: 20px 20px 20px 20px;">
  <h4> สร้างแบบสอบถาม </h4>
  <hr>
  <%= form_for @question, :url => {controller => 'questions', :action => 'create'} do |f|%>

  <%= f.hidden_field :numberSec, :value => '1' , name: 'question[numberSec][]' %>

  <div class="row col-12">
    <div class="col-11 mb-3">
      <%= f.label :title, :'(1) หัวข้อ/เรื่อง', class: 'font-weight-bold' %>
      <%= f.text_field :title, class: 'form-control', autofocus: 'true', required: 'true', id: 'quiz_title0', name: 'question[title1]',required: true, oninvalid: "this.setCustomValidity('กรุณากรอกข้อมูล')", oninput: "setCustomValidity('')" %>
    </div>
  </div>

  <div class="quiz" id='quiz1'>

    <div id="ShowaddQuestion0" class="ShowaddQuestion">
    </div>

    <div class="row pl-5">
      <div class="col-10 mb-3">
        <%= f.label :question_text, :'คำถาม ?', class: "text-muted font-weight-bold" %>
        <%= f.text_field  :question_text, multiple: true, class: 'form-control', id: 'quiz_question1_0', name: 'question[question_text1][]' %>
      </div>
      <div class="col-1">
        <label for="" >&nbsp;</label>
        <button type="button" class="form-control btn btn-primary addquestion" id="addQuestion0"><i class="fas fa-plus" aria-hidden='true'></i></button>
      </div>
    </div>
    <div class="showAddsection" id="showAddsection">
    </div>

    <div class='content'>
      <%= button_tag( icon('fas','save')+" บันทึก",{:name => 'submit', :id => 'submit', :type => "submit", :class => 'btn btn-success', :action => 'create'}) %>
      <%= button_tag( icon('fas','times')+" ยกเลิก", { :name => 'reset', :id => 'reset', :type => 'reset', :class => 'btn btn-warning'}) %>
      <%= button_tag( icon('fas','plus')+" เพิ่มหัวข้อ", :class => 'btn btn-info float-right addSections', id: 'addSections', 'aria-hidden' => 'true') %>
    </div>

    <% end %>

  </div>
</div>

<script>

  $(function(){
    addQuestion();
    addSections();
    btn_deleteSections();
    // btn_deleteQuestion();
    reset();
    print();
    editQuestion();
    searchScore();
  });

  function addQuestion(num = 0) {

    var row = $('#quiz_title'+(num)).length;
    $('#addQuestion'+num).click(function(){
      var html = '<div class="row pl-5 ques" id="ques'+(num+1)+'_'+(row+1)+'">';
      html += '<div class="col-10 mb-3">';
      html += '<label for="quiz_question"><b class="text-muted">('+(num+1)+'.'+(row)+') คำถาม ?</b></label>';
      html += '<input type="text" class="form-control quiz_question" id="quiz_question'+(num+1)+'_'+(row)+'" name="question[question_text'+(num+1)+'][]" required value="'+$('#quiz_question'+(num+1)+'_0').val()+'">';
      html += '<div class="invalid-feedback">';
      html += 'Please provide a valid city.';
      html += '</div>';
      html += '</div>';
      html += '<div class="col-1">';
      html += '<label for="">&nbsp;</label>';
      html += '<button type="button" class="form-control btn btn-danger deleteQuestion" id="deleteQuestion'+(num+1)+'_'+(row+1)+'"><i class="fa fa-trash" aria-hidden="true"></i></button>';
      html += '</div>';
      html += '</div>';
      $('#ShowaddQuestion'+num).append(html);
      deleteQuestion((num+1)+'_'+(row+1));

      $('#quiz_question'+(num+1)+'_0').val('').focus();
      row++;
    });
  }

  function deleteQuestion(num) {
    $('#deleteQuestion'+num).click(function(){
      var conf = confirm("ต้องการลบคำถาม !");
      if(conf == true){
        $('#ques'+num).remove();
      }else{
        return false;
      }
    });
  }

  function addSections() {
    // var numSection1 = $('.sectionAdd').length+1;
    $('#addSections').click(function(){
      var numSection = $('.sectionAdd').length+1;

      html ='<div class="sectionAdd" id="sectionAdd'+(numSection+1)+'">';
      html += '<div class="row col-12">';
      html += '<input type="hidden" id="numberSec'+(numSection+1)+'" name="question[numberSec][]" value="'+(numSection+1)+'">';
      html += '<div class="col-11 mb-3">';
      html += '<label for="quiz_title"><b>('+(numSection+1)+') หัวข้อ / เรื่อง</b></label>';
      html += '<input type="text" class="form-control quiz_title" id="quiz_title'+(numSection)+'" name="question[title'+(numSection+1)+']" required>';
      html += '</div>';
      html += '<div class="col-md-1">'
      html += '<label for="">&nbsp;</label>';
      html += '<button type="button" class="form-control btn btn-danger deleteSections" id="deleteSections'+(numSection+1)+'"><i class="fa fa-minus" aria-hidden="true"></i></button>';
      html += '</div>';
      html += '</div>';
      html += '<div class="quiz" id="quiz'+(numSection+1)+'">';

      html += '<div id="ShowaddQuestion'+(numSection)+'" class="ShowaddQuestion">';
      html += '</div>';

      html += '<div class="row pl-5">';
      html += '<div class="col-10 mb-3">';
      html += '<label for="quiz_question"><b class="text-muted"> คำถาม ?</b></label>';
      html += '<input type="text" class="form-control" id="quiz_question'+(numSection+1)+'_0" placeholder=" " name="question[question_text'+(numSection+1)+'][]" required>';
      html += '<div class="invalid-feedback">';
      html += 'Please provide a valid city.';
      html += '</div>';
      html += '</div>';
      html += '<div class="col-1 ">';
      html += '<label for="" >&nbsp;</label>';
      html += '<button type="button" class="form-control btn btn-primary" id="addQuestion'+numSection+'"><i class="fa fa-plus" aria-hidden="true"></i></button>';
      html += '</div>';
      html += '</div>';
      html += '<!-- /#showAddQuiz.showAddQuiz -->';
      html += '<hr>';
      html += '</div>';
      html += '<!-- /.quiz -->';
      html += '</div>';
      html += '<!-- /.section -->';

      $('.showAddsection').append(html);
      // numSection1;
      addQuestion(numSection);
      deleteSections(numSection+1);
    });
  }

  function deleteSections(num) {
    $('#deleteSections'+num).click(function(){
      var conf = confirm("ต้องการลบหัวข้อ !");
      if(conf == true){
        $('#sectionAdd'+num).remove();
      }else{
        return false;
      }
    });
  }

  function reset() {
    $('.reset').click(function(){
      location.reload('form');
    });
  }

  function print(){
    $('.print').click(function(){
      window.print();
    });
  }

  function btn_deleteSections() {
    $('.deleteSections').click(function(){
      var conf = confirm("ลบหัวข้อ คำถามจะถูกลบออกด้วย \r\n ต้องการลบหรือไม่ !");
      var btndeletesections = $(this).data('btndeletesections');
      if(conf == true){
        $.ajax({
          url: base_url+layout+'deleteQuiz',
          type: 'POST',
          dataType: 'JSON',
          data: {idtitle: $(this).data('idtitle')},
          success:function(rs) {
            $('#sectionAdd'+btndeletesections).remove();
          },
          error:function() {
            alert("#เกิดข้อผิดพลาด");
          }

        });
      }else{
        return false;
      }
    });
  }

  // function btn_deleteQuestion() {

  //   $('.deleteQuestion').click(function() {
  //     var conf = confirm("ต้องการลบคำถาม !");
  //     var numQuestion = $(this).data('btndelete_question')
  //     if(conf == true){
  //       $.ajax({
  //         type: "POST",
  //         url: base_url+layout+'deleteQuestion',
  //         data: 'id_quiz='+$(this).data('idquiz'),
  //         dataType: 'json',
  //         success: function(rs){
  //           if(rs == true){
  //             $('#ques'+numQuestion).remove();
  //           }
  //         },
  //         error: function() {
  //           alert("#เกิดข้อผิดพลาด");
  //         }
  //       });
  //     }else{
  //       return false;
  //     }
  //   });
  // }

  function editQuestion() {
    $('.editQuestion').click(function(){
      var dataValue =  $('#quiz_question'+$(this).data('btnedit_question')).val();
      var dataID = $(this).data('idquiz');
      $.ajax({
        url: base_url+layout+'saveEdit',
        type: 'POST',
        dataType: 'JSON',
        data: {quiz_id: dataID,quiz_question: dataValue},
        success:function(rs){
          messageAlert('อัพเดทข้อมูลเรียบร้อย');
        },
        error:function(){
          messageAlert('เกิดข้อผิดพลาด !!');
        }
      });

    });
  }

  function searchScore() {
    $('#searchScore').submit(function(){
      $.ajax({
        url: base_url+layout+'viewScore',
        type: 'POST',
        dataType: 'JSON',
        data: $(this).serialize(),
      });

    });
  }

</script>
