<%# content_for :script, javascript_include_tag(:"/questions/question") %>


<div class="content" style="margin-top: 5px;padding: 20px 20px 20px 20px;">
	<h4> สร้างแบบสอบถาม </h4>
	<hr>
<!--=================================
=           Start Form              =
==================================-->

<%= form_for :question do |f| %>

<% num = 0 %>
<% @title.each do |t| %>

<div class="row col-12">
	<div class="col-11 mb-3">
		(<%= num+=1 %>)
		<%= f.label :'หัวข้อ/เรื่อง', class: 'font-weight-bold' %>
		<%= f.text_field :title, class: 'form-control',value: t.title, id: "title#{num}" %>
	</div>
	<div class="col-1">
		<%= link_to( icon('fas','trash-alt fa-2x'), destroyTitle_path(t), class: 'btn btn-danger mt-4', method: :delete, data: { confirm: 'ถ้าลบหัวข้อ คำถามก็จะถูกลบตามไปด้วย!!' }) %>
	</div>
</div>
<% numq = 0 %>
<% t.questions.each do |qut| %>
<% numq+= 1 %>
<div class="quiz" id='<%= "quiz#{num}_#{numq}" %>'>
	<div class="row pl-5">
		<div class="col-10 mb-3">
			<%= f.label :" #{num}.#{numq} คำถาม ?", class: 'font-weight-bold text-muted' %>
			<%= f.text_field :question, class: 'form-control',value: qut.question_text, id: "question#{qut.id}" %>
		</div>
		<div class="col-1">
			<%= link_to( icon('fas','trash-alt fa-2x'), qut, class: 'btn btn-warning mt-4',  method: :delete,data: { confirm: 'ต้องการลบคำถาม?' }) %>
		</div>
		<div class="col-1">
			<%= button_tag icon('fas','edit fa-2x'), class: 'btn btn-success mt-4 btn_edit', type: 'button', name: "edit_#{qut.id}", data:{edit_id: qut.id}  %>
		</div>
	    <!--
	    <div class="col-1">
	    <label for="" >&nbsp;</label>
	    <button type="button" class="form-control btn btn-primary addquestion" id="addQuestion0"><i class="fas fa-plus" aria-hidden='true'></i></button>
	    </div>
	  -->
	</div>

	<!-- <div id="ShowaddQuestion0" class="ShowaddQuestion">
	</div> -->
	<!-- /#showAddQuiz.showAddQuiz -->
</div>
<% end %>

<hr>
<!-- /.quiz -->
<% end %>
<% end %>
<!--==============================
=            End Form            =
===============================-->

</div>
<%= content_for :script do %>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.btn_edit').click(function(){
				var dataId = $(this).data('edit-id');
				var dataValue = 	$('#question'+$(this).data('edit-id')).val();

				$.ajax({
					type: 'PUT',
					url: '/questions/'+dataId,
					dataType: 'json',
					data: JSON.stringify({
						  question: { id: dataId, question_text: dataValue },
					}),
					headers:{
						'Content-Type': 'application/json',
						'X-CSRF-Token': Rails.csrfToken()
					},
					success: function(resp){
						alert("บันทึกข้อมูลเรียบร้อย");
					},
					error:function(err){
						alert("เกิดข้อผิดพลาด");
					}

				});

			});
		});
	</script>
<% end %>