<div class="row col-12"  style="margin-top: 5px;padding: 20px 20px 20px 20px;">
  <h5> นักศึกษาประเมิณผู้สอน รายวิชา <i><u><?php echo $course_name; ?></u></i></h5>
</div>
<!-- /.row -->

<!-- <form id='formQuiz' action="<?php echo base_url().$this->layout.'submitScroll'; ?>" method="post" accept-charset="utf-8"> -->
  <table class="table table-striped rounded" border='1' >
    <thead >
      <tr class="text-center">
        <th rowspan="2" class='p-5'><h5> หัวข้อการประเมิน </h5></th>
        <th colspan="5"><h5>ความพึงพอใจ</h5></th>
      </tr>
      <tr class="text-center">
        <th>5 <br> (มากที่สุด)</th>
        <th>4 <br> (มาก)</th>
        <th>3 <br> (ปานกลาง)</th>
        <th>2 <br> (น้อย)</th>
        <th>1 <br> (น้อยที่สุด)</th>
      </tr>
    </thead>
    <tbody >
      <% num = 0 %>
      <% @title.each do |t| %>
      <% num+=1 %>
      <% if t.nil? %>
      <tr>
        <td colspan="6" class="text-center">  ===================== ไม่มีข้อมูล =====================  </td>
      </tr>
      <% else %>
      <tr>
        <td colspan="6">  <!-- title -->
          <b><h5> <%= "(#{num}.) " + t.title %></h5></b>
        </td>
      </tr>
      <!-- ./ start question -->

      <tr>
        <% numq = 0 %>
        <% t.questions.each do |qut| %>
        <% numq+= 1 %>
        <td class="pl-5">
          <%= qut.question_text %>
        </td>
        <td class="ml-auto text-center">
          <%= radio_button(:"anwser_quiz#{qut.id}","", "5", class: 'answser_quiz', :disabled => 'disabled', :style => "width:26px;height:26px;") %>
        </td>
        <td class="ml-auto text-center">
          <%= radio_button(:"anwser_quiz#{qut.id}","", "4", class: 'answser_quiz', :disabled => 'disabled', :style => "width:26px;height:26px;") %>
        </td>
        <td class="ml-auto text-center">
          <%= radio_button(:"anwser_quiz#{qut.id}","", "3", class: 'answser_quiz', :disabled => 'disabled', :style => "width:26px;height:26px;") %>
        </td>
        <td class="ml-auto text-center">
          <%= radio_button(:"anwser_quiz#{qut.id}","", "2", class: 'answser_quiz', :disabled => 'disabled', :style => "width:26px;height:26px;") %>
        </td>
        <td class="ml-auto text-center">
          <%= radio_button(:"anwser_quiz#{qut.id}","", "1", class: 'answser_quiz', :disabled => 'disabled', :style => "width:26px;height:26px;") %>
        </td>
      </tr>
      <% end %> <!-- end each Titile.questions -->
      <% end %>  <!-- end if -->
      <% end %>  <!-- end each title-->
      <!-- ./end question -->
    </tbody>
  </table>
  <div class="col-12 text-center">

    <%= link_to( icon('fas','reply')+" กลับ", questions_path , class: 'btn btn-warning col-1') %>

    </div>
  <!-- </form> -->

