<div class="content viewscore" style="margin-top: 5px;padding: 20px 20px 20px 20px;">
	<!-- <div class=" col-12"> -->

		<h5>
			คะแนนประเมิน:  <i><u></u></i>
		</h5>
		<h5>
			จำนวนผู้ประเมิน: <u>  </u> คน
		</h5>
		<!-- </div> -->
		<!-- /.row -->

<!--  <table class="table table-striped rounded " border='1' >
	<thead > -->
		<hr class="mt-0"/>
		<div class="content col-12  table-responsive">
			<div class="pb-5 no-padding" id="button-tolls"></div>

			<table id="tableData" class="display table table-bordered table-sm text-sm font-weight-light" width="100%" cellspacing="0" style="font-size:13px;">
				<thead class="bg-light">
					<tr class="text-center">
						<th rowspan="2" class='p-5'><h5>ความรู้ความสามารถ  ทักษะ  และพฤติกรรม</h5></th>
					</tr>
					<tr class="text-center">
						<th>5 <br> (มากที่สุด)</th>
						<th>4 <br> (มาก)</th>
						<th>3 <br> (ปานกลาง)</th>
						<th>2 <br> (น้อย)</th>
						<th>1 <br> (น้อยที่สุด)</th>
					</tr>
				</thead>
				<%
				score5 = []
				score4 = []
				score3 = []
				score2 = []
				score1 = []
				%>
				<tbody >
					<% num = 0 %>
					<% @title.each do |t| %>
					<% num+=1 %>
					<% if t.nil? %>
					<tr>
						<td colspan="6" class="text-center">
							===================== ไม่มีข้อมูล =====================
						</td>
					</tr>
					<% else %>
					<tr>
						<td colspan="6">  <!-- title -->
							<b><h5> <%= "(#{num}.) " + t.title %></h5></b>
						</td>
					</tr>
					<!-- ./ start question -->

					<tr>
						<% numq = 0 %>
						<% t.questions.each do |qut| %>
						<% numq+= 1 %>
						<td class="pl-5">
							<%= qut.question_text %>
						</td>

						<td class="text-center">
							<%= num5 = qut.scores.select { |m| m.score_num == "5"}.count() %>
							<% score5.push(num5) %>
						</td>
						<td class="text-center">
							<%= num4 = qut.scores.select { |m| m.score_num == "4"}.count() %>
							<% score4.push(num4) %>
						</td>
						<td class="text-center">
							<%= num3 = qut.scores.select { |m| m.score_num == "3"}.count() %>
							<% score3.push(num3) %>
						</td>
						<td class="text-center">
							<%= num2 = qut.scores.select { |m| m.score_num == "2"}.count() %>
							<% score2.push(num2) %>
						</td>
						<td class="text-center">
							<%= num1 = qut.scores.select { |m| m.score_num == "1"}.count() %>
							<% score1.push(num1) %>
						</td>

					</tr>
					<% end %> <!-- end each Titile.questions -->
					<% end %>  <!-- end if -->
					<% end %>  <!-- end each title-->
					<tr class="alert-info text-dark" style="background-color: #e3f2fd;">
						<td class="text-center"><b>รวม</b></td>
						<td class="text-center"><b> <%= score5 != nil ? score5.sum : 0 %></b></td>
						<td class="text-center"><b> <%= score4 != nil ? score4.sum : 0 %></b></td>
						<td class="text-center"><b> <%= score3 != nil ? score3.sum : 0 %></b></td>
						<td class="text-center"><b> <%= score2 != nil ? score2.sum : 0 %></b></td>
						<td class="text-center"><b> <%= score1 != nil ? score1.sum : 0 %></b></td>
					</tr>
					<!-- ./end question -->
				</tbody>


			</table>
		</div>
		<div class="col-12 mt-3 text-center">

			<%= link_to( icon('fas','reply')+" กลับ", questions_path , class: 'btn btn-warning col-1') %>

		</div>
	</div>
	<!-- </div> -->


