<div class="col-6 mx-auto">
  <%= form_with(model: course, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :courseID %>
    <%= form.text_field :courseID, id: :courseID, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= form.label :course_name %>
    <%= form.text_field :course_name, id: :course_name, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= form.label :group_id %>
    <%= form.collection_select :group_id, Group.all, :id, :group_name, {},class: 'form-control' %>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-primary">SAVE</button>
    <button type="reset" class="btn btn-warning">CANCEL</button>
  </div>
  <% end -%>
</div>
