
<div class="float-right">
  <%= link_to( icon('fas','plus')+' Course', new_course_path , class: 'btn btn-primary') %>
</div>
<table class="table table-striped table-hover table-sm mw-100" >
  <caption>Course Data Table</caption>
  <thead class="bg-secondary text-center">
    <tr>
      <th>#</th>
      <th>CourseID</th>
      <th>CourseName</th>
      <th>GroupName</th>
      <th>Create Date</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <% num = 0 %>
    <% @course.each do |course| %>
    <tr>
      <td><%= num +=1 %></td>
      <td><%= course.courseID %></td>
      <td><%= course.course_name %></td>
      <td><%= course.group.group_name %></td>
      <td><%= course.updated_at.strftime("%d/%m/%Y %H:%M") %> </td>
      <td>
        <%= link_to( icon('fas',"pencil-alt"), edit_course_path(course), class: 'btn btn-warning btn-sm') %>
        <%= link_to( icon('fas',"trash-alt"), course, class: 'btn btn-danger btn-sm',  method: :delete, data: { confirm: 'Are you sure?' }) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
