<!DOCTYPE html>
<html>

<head>
	<title>Requestionniare
		<%= params[:controller] %>
	</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<%= yield :script %>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light alert-info mb-2 pt-2 pb-2">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand row" href="/">ระบบประเมิน</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse pr-4" id="navbarSupportedContent">
				<ul class="nav navbar-nav  ml-auto">
					<li class="nav-item <%= (params[:controller] == 'dashboards') ? 'active':'' %>">
						<%= link_to icon('fas',"tachometer-alt")+' ทั่วไป ', root_path, class: 'nav-link', title: 'ทั่วไป' %>
					</li>
					<li class="nav-item <%= (params[:controller] == 'courses') ? 'active':'' %>">
						<%= link_to icon('fas', 'list')+' คอร์ส', courses_path, class: 'nav-link', title: 'คอร์ส' %>
					</li>
					<li class="nav-item <%= (params[:controller] == 'questions') ? 'active':'' %>">
						<%= link_to icon('fas',"question-circle")+' แบบสอบถาม', questions_path, class: 'nav-link', title: 'แบบสอบถาม' %>
					</li>
					<li class="nav-item <%= (params[:controller] == 'questions') ? 'active':'' %>">
						<%= link_to icon('fas',"tasks")+' ตอบแบบสอบถาม', answerQuestion_path, class: 'nav-link', title: 'ตอบแบบสอบถาม' %>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<% flash.each do |name, message| %>
	<p><i><%= " #{message}" %></i></p>
	<% end %>

	<div class="container-fluid col-11 bg-light pt-2 pb-2 pr-2 pl-3 rounded">
		<%= yield %>
	</div>

</body>

</html>